/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Common Styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary {
    border-radius: 5px;
    border: none;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.3rem;
    background-color: #FF900E;
    font-weight: 600;
    cursor: pointer;
}
.text-light-gray {
    color: #727272;
}
.section-title {
    font-size: 2.5rem;
    color: #131313;
    font-weight: 700;
}

/* Header */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;

}
nav li {
    list-style: none;
    font-weight: 500;
    margin-left: 30px;
    font-size: 1rem;
}
nav a {
    text-decoration: none;
    color: #424242;
}
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title {
    font-size: 4rem;
}
.banner-description {
    color: #727272;
}
.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Main Section */
main {
    max-width: 1440px;
    margin: 70px auto;
}
/* Teams section */
.teams-container {
    display: flex;
    align-items: center;
    

}
.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content {
    padding: 0 70px;
}
.teams-title {
    font-size: 2.5rem;
    font-weight: 500;
    color: #727272; 
}
.teams-title .of-our {
    color: #131313;
    font-weight: 700;
} 
.teams-title .features {
    color: #FF900E;
    font-weight: 700;
}

/* Facts section */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.facts-card-container .card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
}
.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title {
    font-size: 1.25rem;
    color: #727272;
    font-weight: 600;
    margin-top: 5px;
}

/* Sponsors Section */
.sponsors {
    text-align: center;
}
.sponsors-image-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}
.sponsors-image-container img {
    width: 165px;
}


/* Responsive styles */
/* Mobile */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav, 
    .teams-container,
    .facts-card-container,
    .sponsors-image-container {
        flex-direction: column;
        
    }
    nav > ul {
        padding: 0;
    }
    nav li {
        margin: 0 15px;
    }
    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-content {
        padding: 0 20px;
    }
    .facts-card-container {
        gap: 20px;
    }
    .sponsors-image-container img {
        padding: 15px 0;
    }
}

/* Medium */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 20px;
    }
    nav,
    .teams-container {
        flex-direction: column;
    }
    nav > ul {
        padding: 0;
    }
    nav li {
        margin: 0 15px;
    }
    .teams-content {
        padding: 0 20px;
    }
}