/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Common Styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    /* box-sizing: border-box; */
}
body {
    margin: 0;
}
.btn-primary {
    border-radius: 5px;
    border: none;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.3rem;
    background-color: #FF900E;
    font-weight: 600;
    cursor: pointer;
}
.text-light-gray {
    color: #727272;
}
.section-title {
    font-size: 2.5rem;
    color: #131313;
    font-weight: 700;
}

/* Header */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    padding-top: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

nav > ul {
    display: flex;

}
nav li {
    list-style: none;
    font-weight: 500;
    margin-left: 30px;
    font-size: 1rem;
}
nav a {
    text-decoration: none;
    color: #424242;
}
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title {
    font-size: 4rem;
}
.banner-description {
    color: #727272;
}
.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Main Section */
main {
    max-width: 1240px;
    margin: 70px auto;
}
/* Teams section */
.teams-container {
    display: flex;
    align-items: center;
    

}
.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content {
    padding: 0 70px;
}
.teams-title {
    font-size: 2.5rem;
    font-weight: 500;
    color: #727272; 
}
.teams-title .of-our {
    color: #131313;
    font-weight: 700;
} 
.teams-title .features-span {
    color: #FF900E;
    font-weight: 700;
}

/* Features */
.features {
    display: flex;
    margin-top: 130px;
    gap: 80px;
    
}
.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-content {
    width: 40%;
}
.feature-img {
    width: 60%;
    
}
.feature-content .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}
.feature-content .card h4 {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}
.feature-img img {
    /* height: 90%; */
    width: 100%;
    margin-left: 50px;
}
.ten-years-badge {
    border-radius: 8px;
    background-color: #FF900E;
    width: 340px;
    padding: 40px;
    position: relative;
    bottom: 100px;
}
.ten-years-badge h2 {
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 40px; /* 107.692% */
}
.ten-years-badge p {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
}
/* Facts section */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.facts-card-container .card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
}
.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title {
    font-size: 1.25rem;
    color: #727272;
    font-weight: 600;
    margin-top: 5px;
}

/* Sponsors Section */
.sponsors {
    text-align: center;
}
.sponsors-image-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}
.sponsors-image-container img {
    width: 165px;
}
footer {
    max-width: 1240px;
    margin: 50px auto;
    text-align: center;
    background-color: #FFF4E7;
    color: #424242;
    padding: 25px;
    font-size: 1rem;
    box-sizing: border-box;
}


/* Responsive styles */
/* Mobile */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav, 
    .teams-container,
    .facts-card-container,
    .sponsors-image-container,
    .features {
        flex-direction: column;
        
    }
    nav > ul {
        padding: 0;
    }
    nav li {
        margin: 0 15px;
    }
    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-content {
        padding: 0 20px;
    }
    .facts-card-container {
        gap: 20px;
    }
    .sponsors-image-container img {
        padding: 15px 0;
    }
    .features {}
    .feature-img img {
        width: 100%;
        margin-left: 0;
    }
    .ten-years-badge {
        width: 100%;
        position: static;
        box-sizing: border-box;
    }
    .feature-content {
        width: 100%;
    }
    .feature-img {
        width: 100%;
        
    }
}

/* Medium */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 20px;
    }
    nav,
    .teams-container,
    .features {
        flex-direction: column;
    }
    nav > ul {
        padding: 0;
    }
    nav li {
        margin: 0 15px;
    }
    .teams-content {
        padding: 0 20px;
    }
    .feature-content {
        width: 100%;
    }
    .feature-img {
        width: 100%;
        
    }
}